<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted left vertical sidebar menu">
    <a class="item" routerLink="/home" routerLinkActive="active">
      <i class="home icon"></i>主页
    </a>
    <a class="item" routerLink="/note" routerLinkActive="active">
      <i class="book icon"></i>笔记
    </a>
    <a class="item" routerLink="/trash" routerLinkActive="active">
      <i class="trash icon"></i>废纸篓
    </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
