<a class="item" (click)="onAdd()">
  <i class="add square icon"></i>{{'MAIN_TOOLBAR.ADD_ARTICLE' | translate}}
</a>
<a class="item" (click)="onDelete(popup)"
   suiPopup
   [popupText]="'MAIN_POPUP.NEED_SELECT' | translate"
   #popup="suiPopup"
   popupTrigger="manual">
  <i class="delete square icon"></i>{{'MAIN_TOOLBAR.DELETE_ARTICLE' | translate}}
</a>
<a class="item" (click)="moveToDraft(movePopup)"
   suiPopup
   [popupText]="'MAIN_POPUP.NEED_SELECT' | translate"
   #movePopup="suiPopup"
   popupTrigger="manual">
  <i class="move square icon"></i>{{'MAIN_TOOLBAR.MOVE_TO_DRAFT' | translate}}
</a>
<a class="item" (click)="onDeploy()">
  <div *ngIf="!isDeploying">
    <i class="github square icon"></i>{{'MAIN_TOOLBAR.DEPLOY' | translate}}
  </div>
  <div class="ui active inline loader" *ngIf="isDeploying">
  </div>
</a>
<a class="item" (click)="onRefresh()">
  <i class="refresh square icon"></i>{{'MAIN_TOOLBAR.REFRESH' | translate}}
</a>
