<a class="item" (click)="onAdd(addPopup)"
   suiPopup
   [popupText]="'MAIN_POPUP.CREATE_SUCCESS' | translate"
   #addPopup="suiPopup"
   popupTrigger="manual">
  <div *ngIf="!isCreating">
    <i class="add square icon"></i>{{'MAIN_TOOLBAR.ADD_ARTICLE' | translate}}
  </div>
  <div class="ui active inline loader" *ngIf="isCreating">
  </div>
</a>
<a class="item" (click)="onDelete(popup)"
   suiPopup
   [popupText]="'MAIN_POPUP.NEED_SELECT' | translate"
   #popup="suiPopup"
   popupTrigger="manual">
  <div *ngIf="!isDeleting">
    <i class="delete square icon"></i>{{'MAIN_TOOLBAR.DELETE_ARTICLE' | translate}}
  </div>
  <div class="ui active inline loader" *ngIf="isDeleting">
  </div>
</a>
<a class="item" (click)="moveToDraft(movePopup)"
   suiPopup
   [popupText]="'MAIN_POPUP.NEED_SELECT' | translate"
   #movePopup="suiPopup"
   popupTrigger="manual">
  <div *ngIf="!isMoving">
    <i class="move square icon"></i>{{'MAIN_TOOLBAR.MOVE_TO_DRAFT' | translate}}
  </div>
  <div class="ui active inline loader" *ngIf="isMoving">
  </div>
</a>
<a class="item" (click)="onDeploy()">
  <div *ngIf="!isDeploying">
    <i class="github square icon"></i>{{'MAIN_TOOLBAR.DEPLOY' | translate}}
  </div>
  <div class="ui active inline loader" *ngIf="isDeploying">
  </div>
</a>
