<a class="item" (click)="onAdd(addPopup)"
   suiPopup
   [popupText]="'MAIN_POPUP.CREATE_SUCCESS' | translate"
   #addPopup="suiPopup"
   popupTrigger="manual">
  <i class="add square icon"></i>{{'MAIN_TOOLBAR.ADD_ARTICLE' | translate}}
</a>
<a class="item" (click)="onDelete(popup)"
   suiPopup
   [popupText]="'MAIN_POPUP.NEED_SELECT' | translate"
   #popup="suiPopup"
   popupTrigger="manual">
  <i class="delete square icon"></i>{{'MAIN_TOOLBAR.DELETE_ARTICLE' | translate}}
</a>
<a class="item" (click)="moveToPost(movePopup)"
   suiPopup
   [popupText]="'MAIN_POPUP.NEED_SELECT' | translate"
   #movePopup="suiPopup"
   popupTrigger="manual">
  <i class="move square icon"></i>{{'MAIN_TOOLBAR.MOVE_TO_POST' | translate}}
</a>
