<div class="ui black inverted menu">
  <a class="item" (click)="onAddClick()">
    <i class="add square icon"></i>添加笔记
  </a>
  <a class="item">
    <i class="delete square icon"></i>删除笔记
  </a>
  <a class="item">
    <i class="github square icon"></i>部署到博客
  </a>
  <a class="item" (click)="onRefresh()">
    <i class="refresh square icon"></i>刷新
  </a>
  <div class="right menu" style="margin-right: 20%">
    <div class="item">
      <div class="ui icon input">
        <input #searchFilter type="text" placeholder="搜索..."
               (keyup.enter)="onSearchEnter(searchFilter.value)">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="item" *ngIf="dataService.getSelected()">
      <a class="ui small button" routerLink="/edit">
        <i class="edit icon"></i>
      </a>
    </div>
  </div>
</div>
