<div class="ui black inverted menu">
  <a class="item">
    <i class="add square icon"></i>添加笔记
  </a>
  <a class="item">
    <i class="delete square icon"></i>删除笔记
  </a>
  <a class="item">
    <i class="github square icon"></i>部署到博客
  </a>
  <div class="right menu" style="margin-right: 20%">
    <div class="item">
      <div class="ui icon input">
        <input #searchFilter type="text" placeholder="搜索..."
               (keyup.enter)="onSearchEnter(searchFilter.value)">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="item">
      <div class="ui small icon buttons">
        <div class="ui button"><i class="edit icon"></i></div>
        <div class="ui button"><i class="expand icon"></i></div>
      </div>
    </div>
  </div>
</div>
