<div class="header" *ngIf="modal.context.title">{{ modal.context.title }}</div>
<div class="content">
  <p>{{ modal.context.content }}</p>
</div>
<div class="actions">
  <button class="ui red button" (click)="modal.deny('denied')"
          *ngIf="modal.context.config.useNegBtn">
    {{'COMMON.CANCEL' | translate}}
  </button>
  <button class="ui green button" (click)="modal.approve('approved')" autofocus
          *ngIf="modal.context.config.usePosBtn">
    {{'COMMON.OK' | translate}}
  </button>
</div>
