<div class="ui inverted segment"
     #list
     [style.height]="windowService.getScreenHeight() + 'px'"
     [style.overflow]="'scroll'">
  <div class="ui inverted relaxed divided selection list">
    <div class="item" #item
         *ngFor="let article of articles"
         style="cursor: pointer"
         [style.padding-left]="isSelect(article) ? '32px' :'0px'"
         [style.background]="isSelect(article) ? '#434343' : '#1b1c1d'"
         (click)="onSelect(article,item)">
      <p>
        {{'ARTICLE.CREATE_DATE' | translate}}：{{article.insertDate | date: 'yyyy/MM/dd'}}
      </p>
      <p></p>
      <div class="content">
        <p class="header">{{'ARTICLE.TITLE' | translate}}：{{article.title}}</p><br>
        <div class="description">
          <span class="ui inverted">{{'ARTICLE.TAG' | translate}}：</span>
          <div class="ui inverted basic button" *ngFor="let tag of article.tags" (click)="onTagClick(tag)">
            <span>
              {{tag.name}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
