<div class="ui inverted segment"
     [style.height]="windowService.getScreenHeight() + 'px'"
     [style.overflow]="'scroll'">
  <div class="ui inverted relaxed divided selection list">
    <div class="item" #item *ngFor="let article of articles" style="cursor: pointer"
         [style.padding-left]="dataService.getSelected() && dataService.getSelected().id === article.id ?
         '32px' :
         '0px'"
         (click)="onSelect(article)">
      <p>创建日期：{{article.insertDate | date: 'yyyy/MM/dd'}}</p>
      <p></p>
      <div class="content">
        <p class="header">标题：{{article.title}}</p><br>
        <div class="description">
          <span class="ui inverted">标签：</span>
          <div class="ui inverted basic button" *ngFor="let tag of article.tags" (click)="onTagClick(tag)">
            <span>
              {{tag.name}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
