<div class="ui inverted segment"
     [style.height]="windowService.getScreenHeight() + 'px'"
     [style.overflow]="'scroll'">
  <div class="ui inverted relaxed divided selection list">
    <div class="item" *ngFor="let article of dataService.getList()" style="cursor: pointer"
         [ngStyle]="{'padding-left': dataService.getSelected() === article ? '32px' :'0px'}"
         (click)="onSelect(article)">
      <a>创建日期：{{article.insertDate | date: 'yyyy/MM/dd'}}</a>
      <p></p>
      <div class="content">
        <a class="header">标题：{{article.title}}</a><br>
        <div class="description">
          <span class="ui inverted">标签：</span>
          <div class="ui inverted basic button" *ngFor="let tag of article.tags">
            <span (click)="onTagClick(tag)">
              {{tag.name}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
