<div class="ui black inverted menu">
  <div class="left menu">
    <a class="item" (click)="mainService.toggleSidebar()">
      <i class="sidebar icon"></i> {{'MAIN_TOOLBAR.MENU' | translate}}
    </a>
    <a class="item" suiPopup [popupTemplate]="tagsWall" popupTrigger="outsideClick">
      <i class="tag icon"></i> {{'MAIN_TOOLBAR.LABELS' | translate}}
    </a>
    <a class="item" (click)="onRefresh()">
      <i class="refresh square icon"></i>{{'MAIN_TOOLBAR.REFRESH' | translate}}
    </a>
    <post-buttons class="left menu" *ngIf="mainService.selectTab === 2 && hasConfiguration"></post-buttons>
    <draft-buttons class="left menu" *ngIf="mainService.selectTab === 3 && hasConfiguration"></draft-buttons>
  </div>
  <div class="right menu" *ngIf="mainService.selectTab !== 1">
    <div class="item">
      <div class="ui icon input">
        <input #searchFilter type="text" placeholder="搜索..."
               (keyup.enter)="onSearchEnter(searchFilter.value)">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="item" *ngIf="dataService.getSelected()">
      <a class="ui small button" (click)="onEdit()">
        <i class="edit icon"></i>
      </a>
    </div>
  </div>
</div>

<ng-template let-popup #tagsWall>
  <div class="ui equal width grid">
    <div class="ui basic button" style="margin: 6px" *ngFor="let tag of dataService.getAllTags()"
         (click)="onTagClick(tag)">
    <span>
      {{tag}}
    </span>
    </div>
  </div>
</ng-template>
