<div class="ui large inverted segment">
  <div class="ui inverted relaxed divided list">
    <div class="item" *ngFor="let article of articles">
      <a>{{article.insertDate | date: 'yyyy/MM/dd'}}</a>
      <p></p>
      <div class="content">
        <span class="header">标题：{{article.title}}</span><br>
        <div class="description">
          <span class="ui inverted">标签：</span>
          <div class="ui inverted basic button" *ngFor="let tag of article.tags">{{tag.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
