<div class="ui internally celled equal width grid">
  <div class="row">
    <div class="column" style="padding: 0">
      <div class="ui large inverted segment">
        <div class="ui inverted relaxed divided list">
          <div class="item" *ngFor="let article of articles" style="cursor: pointer"
               routerLink="/note/detail">
            <a>{{article.insertDate | date: 'yyyy/MM/dd'}}</a>
            <p></p>
            <div class="content">
              <a class="header">标题：{{article.title}}</a><br>
              <div class="description">
                <span class="ui inverted">标签：</span>
                <div class="ui inverted basic button" *ngFor="let tag of article.tags">{{tag.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column" *ngIf="isSelected">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

