<div class="ui basic segment">
  <span style="font-size: 1.2rem;font-weight: bolder">你已经写了 {{dataService.getOriginList().length}} 篇博客，继续加油！</span>

  <div class="ui large feed">
    <div class="event" *ngFor="let article of dataService.getList()">
      <div class="label">
        <i class="pencil icon"></i>
      </div>
      <div class="content">
        <div class="date">
          {{article.insertDate | date: 'yyyy/MM/dd'}}
          <div class="summary">
            <a routerLink="note-info" (click)="gotoNoteInfo(article)">
              {{article.title}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

